<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <style>
html {
      background: url(../static/image/bg_new.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
</style>
</head>

<body>
    <div style="text-align:center;margin-top:20%;">
        <form action="/login" method="post">
            <p>账号:<input type="text" name="username" placeholder="请输入账号"></p>
            <p>密码:<input type="password" name="password" placeholder="请输入密码"></p>
            <p><input type="submit" value="登录" ></p>
        </form>
    </div>
<div class="msgs" id="msg" style="text-align:center; color:red; font-size:15px">
    {% if status == 'no'%}
    <h1>Error：用户名为空！</h1>
    {% elif status == 'null'%}
    <h1>Error：密码不能为空！</h1>
    {% elif status == 'no_exist'%}
    <h1>Error：用户名不存在！</h1>
    {% elif status == 'nf'%}
    <h1>Error：用户名不存在！</h1>
    {% elif status == 'login'%}
    <h1>Error：请登录后再进行相关操作！</h1>
    {% elif status == 'fail'%}
    <h1>Error：用户名或密码错误！</h1>
    {% else %} <!-- 未提交信息时，默认不输出-->
    {% endif %}
</div>
</body>
</html>
